<div class="leaveword">
	<img src="http://192.168.43.168/img/leaveword.png">
</div>
<div class="recordword">
	<h4>留言</h4>
	<textarea maxlength="150" placeholder="请在此处留言..."></textarea>
	<div>
		<button>发送</button>
		<button>取消</button>
	</div>
</div>
<div class="fix_tips">
</div>
<div id="saved">
	<img src="http://192.168.43.168/img/mynotes-saved.png">
	<span>已留言</span>
</div>
<div class="wordcontent">
</div>
<div class="closeword">
	<img src="http://192.168.43.168/img/closeword.png">
</div>
<div class="goback">
	<img  id="goback" src="http://192.168.43.168/img/goback.png">
</div>