<!DOCTYPE html>
<html>
<head>
	<title>旺享 | MY NOTES</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="always" name="referrer">
    <meta name="description" content="旺享笔记，一个分享知识和学习交流的社区，值得大家收藏的原创文章网站">
    <meta itemprop="name" content="旺享笔记，一个分享知识和学习交流的社区，值得大家收藏的原创文章网站">
    <meta name="keywords" content="旺享，旺享笔记，文章分享，学习社区，原创文章平台，分享有趣的知识">
    <link rel="shortcut icon" type="image/x-icon" href="http://192.168.43.168/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="http://192.168.43.168/css/pageheader.css">
	<link rel="stylesheet" type="text/css" href="http://192.168.43.168/css/mynotes.css">
	<link rel="stylesheet" type="text/css" href="http://192.168.43.168/css/pagefoot.css">
	<script type="text/javascript" src="http://192.168.43.168/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="http://192.168.43.168/js/mynotes.js"></script>
	<script type="text/javascript" src="http://192.168.43.168/js/pageheader.js"></script>
	<script type="text/javascript" src="http://192.168.43.168/js/wangEditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	{% include 'pageheader.html' %}
	<script>
		$("#top-content>h1").replaceWith('<h1>My</h1>');
		$("#top-content>h2").replaceWith('<h2>study</h2>');
		console.log("ok");
	</script>
	<div class="subject" id="subject">
		<div class="subject-content">
			<img v-bind:title="message" id="imgbook" src="http://192.168.43.168/img/mynotes.png">
			<div class="subject-info">
			<form action="" method="post">{{ csrf_input }}{% csrf_token %}
				<input id="nickname" type="text" name="author" placeholder="请输入笔名" maxlength="9">
				<div><img  src="http://192.168.43.168/img/right-arrow.png"></div>
			</form>
		</div>
		</div>
		<div class="setting" id="setting">
				<img id="settingimg" src="http://192.168.43.168/img/mynotes-setting.png">
		</div>
		<div class="setting-content" id="setting-content">
			<div>
				<span>作者: {{ nickname }}</span>
				<span><a id="follow" href="./publish/">发表: {{ sharenum }}</a></span>
				<span><a id="follow" href="./myfollow/">关注: {{ follownum }}</a></span>
				<span>粉丝: {{ likednum }}</span>
				<span>获赞: {{ likenum.likenum__sum }}</span>
				<img src="http://192.168.43.168/img/mynotes-home.png">
			</div>
		</div>
		<div class="mynotes">
			<div>
				<input id="mynotestitle" type="text" name="title" maxlength="30" placeholder="标题">
			</div>
			<div>
				<div id="div1" class="toolbar">
				</div>
				<div id="div2">
    				<p>请输入您要 <b>编辑</b> 的内容</p>
				</div>
				<textarea id="text1" rows="20" cols="10"></textarea>
			</div>
		</div>
		<!-- 脚本执行 -->
		<script type="text/javascript">
         // body...
    	var E = window.wangEditor
        var editor = new E('#div1','#div2')
        var $text1 = $('#text1')
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $text1.val(html)
        }
        editor.customConfig.uploadImgShowBase64 = true
        editor.customConfig.emotions =[
        {
            // tab 的标题
            title: 'emoji表情',
            // type -> 'emoji' / 'image'
            type: 'emoji',
            // content -> 数组
            content: ['😀', '😁', '😂', '😃', '😄', '😅', '😆', '😉', '😊', '😋', '😎', '😍', '😘', '😗', '😙', '😚', '☺', '😇', '😐', '😑', '😶', '😏', '😣', '😥', '😮', '😯', '😪', '😫', '😴', '😌', '😛', '😜', '😝', '😒', '😓', '😔', '😕', '😲', '😷', '😖', '😞', '😟', '😤', '😢', '😭', '😦', '😧', '😨', '😬', '😰', '😱', '😳', '😵', '😡', '😠']
        },
        {
            // tab 的标题
            title: 'emoji手势',
            // type -> 'emoji' / 'image'
            type: 'emoji',
            // content -> 数组
            content: ['💪', '👈', '👉', '☝', '👆', '👇', '✌', '✋', '👌', '👍', '👎', '✊', '👊', '👋', '👏', '👐', '✍']
        },
        {
            // tab 的标题
            title: '新浪',
            // type -> 'emoji' / 'image'
            type: 'image',
            // content -> 数组
            content: [{
            	alt : "[草泥马]",
                 src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/7a/shenshou_thumb.gif"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/60/horse2_thumb.gif",
        alt : "[神马]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/bc/fuyun_thumb.gif",
        alt : "[浮云]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/c9/geili_thumb.gif",
        alt : "[给力]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/f2/wg_thumb.gif",
        alt : "[围观]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/70/vw_thumb.gif",
        alt : "[威武]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/6e/panda_thumb.gif",
        alt : "[熊猫]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/81/rabbit_thumb.gif",
        alt : "[兔子]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/bc/otm_thumb.gif",
        alt : "[奥特曼]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/15/j_thumb.gif",
        alt : "[囧]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/89/hufen_thumb.gif",
        alt : "[互粉]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/c4/liwu_thumb.gif",
        alt : "[礼物]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/ac/smilea_thumb.gif",
        alt : "[呵呵]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/0b/tootha_thumb.gif",
        alt : "[嘻嘻]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/6a/laugh.gif",
        alt : "[哈哈]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/14/tza_thumb.gif",
        alt : "[可爱]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/af/kl_thumb.gif",
        alt : "[可怜]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/a0/kbsa_thumb.gif",
        alt : "[挖鼻屎]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/f4/cj_thumb.gif",
        alt : "[吃惊]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/6e/shamea_thumb.gif",
        alt : "[害羞]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/c3/zy_thumb.gif",
        alt : "[挤眼]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/29/bz_thumb.gif",
        alt : "[闭嘴]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/71/bs2_thumb.gif",
        alt : "[鄙视]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/6d/lovea_thumb.gif",
        alt : "[爱你]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/9d/sada_thumb.gif",
        alt : "[泪]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/19/heia_thumb.gif",
        alt : "[偷笑]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/8f/qq_thumb.gif",
        alt : "[亲亲]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/b6/sb_thumb.gif",
        alt : "[生病]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/58/mb_thumb.gif",
        alt : "[太开心]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/17/ldln_thumb.gif",
        alt : "[懒得理你]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/98/yhh_thumb.gif",
        alt : "[右哼哼]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/6d/zhh_thumb.gif",
        alt : "[左哼哼]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/a6/x_thumb.gif",
        alt : "[嘘]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/af/cry.gif",
        alt : "[衰]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/73/wq_thumb.gif",
        alt : "[委屈]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/9e/t_thumb.gif",
        alt : "[吐]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/f3/k_thumb.gif",
        alt : "[打哈欠]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/27/bba_thumb.gif",
        alt : "[抱抱]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/7c/angrya_thumb.gif",
        alt : "[怒]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/5c/yw_thumb.gif",
        alt : "[疑问]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/a5/cza_thumb.gif",
        alt : "[馋嘴]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/70/88_thumb.gif",
        alt : "[拜拜]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/e9/sk_thumb.gif",
        alt : "[思考]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/24/sweata_thumb.gif",
        alt : "[汗]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/7f/sleepya_thumb.gif",
        alt : "[困]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/6b/sleepa_thumb.gif",
        alt : "[睡觉]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/90/money_thumb.gif",
        alt : "[钱]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/0c/sw_thumb.gif",
        alt : "[失望]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/40/cool_thumb.gif",
        alt : "[酷]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/8c/hsa_thumb.gif",
        alt : "[花心]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/49/hatea_thumb.gif",
        alt : "[哼]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/36/gza_thumb.gif",
        alt : "[鼓掌]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/d9/dizzya_thumb.gif",
        alt : "[晕]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/1a/bs_thumb.gif",
        alt : "[悲伤]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/62/crazya_thumb.gif",
        alt : "[抓狂]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/91/h_thumb.gif",
        alt : "[黑线]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/6d/yx_thumb.gif",
        alt : "[阴险]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/89/nm_thumb.gif",
        alt : "[怒骂]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/40/hearta_thumb.gif",
        alt : "[心]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/ea/unheart.gif",
        alt : "[伤心]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/58/pig.gif",
        alt : "[猪头]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/d6/ok_thumb.gif",
        alt : "[ok]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/d9/ye_thumb.gif",
        alt : "[耶]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/d8/good_thumb.gif",
        alt : "[good]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/c7/no_thumb.gif",
        alt : "[不要]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/d0/z2_thumb.gif",
        alt : "[赞]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/40/come_thumb.gif",
        alt : "[来]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/d8/sad_thumb.gif",
        alt : "[弱]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/91/lazu_thumb.gif",
        alt : "[蜡烛]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/6a/cake.gif",
        alt : "[蛋糕]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/d3/clock_thumb.gif",
        alt : "[钟]"
    }, {
        src : "http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/1b/m_thumb.gif",
        alt : "[话筒]"
    }

            ]
        }
        ]
        editor.customConfig.zIndex = 100
        editor.create()
        // 初始化 textarea 的值
        $text1.val(editor.txt.html())
        //点击news图标
        $(document).on('click',"#news",function(){
        	console.log('val');
        	editor.txt.html('<p style="color: #FF5733;font-size: 22px">'+$(".mynotes div textarea").val()+'</p>');
        	editor.txt.append('<p><br></p>');
        })
        //点击编辑
         $(document).on('click',"#share_events",function(){ 	
         	setTimeout(function(){
         		editor.txt.html($(".mynotes div textarea").val());
         	},500);	
        });
    	</script>
		<!-- end -->
		<div class="record_events">
			<ul class="share_events" id="share_events">
				
			</ul>
		</div>
		<div class="fix_tips">
		</div>
		<div class="tips">
			<div>
			<img src="http://192.168.43.168/img/question.png">
			<h4>确认删除吗?</h4>
			</div>
			<div>
				<button>准奏</button>
				<button>不了</button>
			</div>
	    </div>
	    <div class="sharefamily">
	    	<h4>选择类别</h4>
	    	<button>知识</button>
	    	<button>心情</button>
	    	<button>文章</button>
	    	<button>语言</button>
	    	<button>理学</button>
	    	<button>文学</button>
	    </div>
		<div id="subbutton">
			<img id="mynotesshare" src="http://192.168.43.168/img/mynotes-share.png">
			<img id="mynotessave" src="http://192.168.43.168/img/mynotes-save.png">
		</div>
		<img id="news" src="http://192.168.43.168/img/news.png">
		<img id="spot" src="http://192.168.43.168/img/spot.png">
		<img id="lamp" src="http://192.168.43.168/img/lamp.png">
		<img id="handbook" src="http://192.168.43.168/img/handbook.png">
		<img id="editor" src="http://192.168.43.168/img/senior_editor.png">
		<div id="saved">
			<img src="http://192.168.43.168/img/mynotes-saved.png">
			<span>已保存</span>
		</div>
		<img id="record" src="http://192.168.43.168/img/record.png">
		<img id="fontup" src="http://192.168.43.168/img/font_size_up.png">
		<img id="fontdown" src="http://192.168.43.168/img/font_size_down.png">
	</div>
	{% include 'pagefoot.html' %}
	{% include 'web_push.html' %}
    <script type="text/javascript">
            var app5=new Vue({
                el:"#imgbook",
                data:{
                    message:"笔记"
                }
            })
    </script>
</body>
</html>