
<div class="pagefoot">
	<div style="width:300px;margin:0 auto; padding:20px 0;">
	<p>如何疑问或建议可以邮箱反馈 www.123fen.com@foxmail.com</p>
	<p>旺享 | <a href="https://beian.miitbeian.gov.cn/" >鄂ICP备19029322号</a></p>
	<a target="_blank" href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42010202002418" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
	<img src="http://192.168.43.168/img/Record_Icon.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备 42010202002418号</p>
	</a>
	</div>
</div>