<!DOCTYPE html>
<html>
<head>
	<title>旺享 | Study</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="always" name="referrer">
	<meta name="description" content="旺享笔记，一个分享知识和学习交流的社区，值得大家收藏的原创文章网站">
	<meta itemprop="name" content="旺享笔记，一个分享知识和学习交流的社区，值得大家收藏的原创文章网站">
	<meta name="keywords" content="旺享，旺享笔记，文章分享，学习社区，原创文章平台，分享有趣的知识">
	<link rel="shortcut icon" type="image/x-icon" href="http://192.168.43.168/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="http://192.168.43.168/css/study.css">
	<link rel="stylesheet" type="text/css" href="http://192.168.43.168/css/pageheader.css">
	<link rel="stylesheet" type="text/css" href="http://192.168.43.168/css/pagefoot.css">
	<link rel="stylesheet" type="text/css" href="http://192.168.43.168/css/homepage.css">
	<link rel="stylesheet" type="text/css" href="http://192.168.43.168/css/lword.css">
	<link rel="stylesheet" type="text/css" href="http://192.168.43.168/css/sharecontent.css">
	<script type="text/javascript" src="http://192.168.43.168/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="http://192.168.43.168/js/pageheader.js"></script>
	<script type="text/javascript" src="http://192.168.43.168/js/study.js"></script>
	<script type="text/javascript" src="http://192.168.43.168/js/lword.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	{% include 'pageheader.html' %}
	<script>
		$("#top-content>h1").replaceWith('<h1>Learn</h1>');
		$("#top-content>h2").replaceWith('<h2>technology</h2>');
		console.log("ok");
	</script>
	<div>
		<div class="subject" id="subject">{% csrf_token %}
		<div class="subject-content">
			{% for sharelist in share %}
			<div class="w">
				<div class="header" id="subject_header">
					<img src="http://192.168.43.168/img/bj.png">
					<h4>{{ sharelist.1 }}</h4>
					<a id="title" href="#">{{ sharelist.2 }}</a>
				</div>
				<div class="content">
					<p>
						{{ sharelist.3 }}
					</p>
				</div>
				<div class="foot" id="foot">
					<div>
						<img id="home_user" src="http://192.168.43.168/img/home-user.png"><span>{{ sharelist.0 }}</span>
					</div>
					<div>
						<img src="http://192.168.43.168/img/time.png"><span>{{ sharelist.4 }}</span>
					</div>
					<div>
						<img title="点赞" id="dzanimg" src="http://192.168.43.168/img/dzan-start.png"><span>{{ sharelist.5 }}</span>
					</div>
					<div>
						<img title="关注" id="follow" src="http://192.168.43.168/img/following.png">
					</div>
					<div>
						<img title="浏览量" src="http://192.168.43.168/img/look_num.png">
						<span>{{ sharelist.6 }}</span>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="sharecontent">
				<h2></h2>
				<div></div>
			</div>
			<div class="spinner">
			    <div class="bounce1"></div>
			    <div class="bounce2"></div>
			    <div class="bounce3"></div>
			</div>
		</div>
	</div>
	{% include 'lword.html' %}
	</div>
	{% include 'web_shortcut.html' %}
	{% include 'pagefoot.html' %}
	{% include 'web_push.html' %}
</body>
</html>